.sidenav-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #AB9F85;
    transition: width 0.5s ease;
}

.sidenav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 90%;
    background: #121212;
    border-radius: 20px;
    transition: width 0.5s ease;
    z-index: -1;
    opacity: 0.75;
}

.sidenav-item {
    position: relative;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav-item:hover::before {
    width: 100%;
}

.active-link::after {
    width: 100%;
}

.active-link {
    color: #E0E0E0 !important;
}